@charset "utf-8";

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}


/*Common
-----------------------------------------------------------------------------*/
body {
    background: url(../images/bg_body.jpg);
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

h1 {}

h2 {}

article {}

article p {}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 158px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 76px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -76px auto 0;
	height: 76px;
	background: #BFF08E;
	position: relative;
}